* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    text-transform: uppercase;
    color: hsl(240, 6%, 7%);
    background-position: center;
    margin: 5% 20px 0 35%;
    width: 420px;
    height: 420px;
    background-color: white;
}

main div {
    margin-left: 10px;
    margin-bottom: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    min-width: 200px;
}

input {
    border: hidden;
    background: #fff;
    cursor: pointer;
    width: 250px;
    padding: 10px 20px;
    margin: 10px 20px 0 10px;
}

label {
    margin-left: 10px;
    margin-top: 20px;
}
small{
    display: none;
    text-transform: lowercase;
    font-size: 12px;
    color:#e70707ef ;
    margin-left: 30px;
}
form .error  hr{
    border: 1px solid #e70707ef;
}
form .success hr{
    border: 1px solid #2ab90a97;
}
button {
    text-transform: uppercase;
    margin-top: 2rem;
    margin-left: 25px;
    border: none;
    border-radius: 10px;
    padding: 10px 35px;
    background-color: black;
    color: beige;
    cursor: pointer;
}