* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 24%, 93%);
}
form{
    display: flex;
     flex-direction: column;
     margin: 1rem 3rem;
     max-width: 40vw;
     /* height: ; */
     min-width: 300px;
     border: .5px solid black;
     background-color:  #ffffff;
     margin-left: 25%;
     padding-top: 10px;
    scroll-behavior: smooth;
}

legend {
    text-transform: uppercase;
    font-size: 30px;
    margin: 1rem 0 0 37% ;
}
label{
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 12px;
  }

input {
    max-width: 30%;
    min-width: 30px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 10px;
    border: none;
    margin: .5rem ;
    margin-left: 1rem;
}
select{
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: capitalize;
    margin-left: 2rem;
    margin-bottom: 10px;
    border: 1px solid #000;
}
textarea{
    width: 55%;
    margin-left: 2rem;
    margin-top: .5rem;
}
.textarea{
    margin-left:6rem;
    margin-top: .5rem;
    text-decoration: underline;
}
.radio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.radio p{
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 2rem;
    margin-bottom: .5rem;
}

.radio div input{
    width: 10%;
    margin: 0 10rem 0 .5rem;
    float: right;
}
.radio div label{
    margin-left: 3rem;
    width: 10%;
}
.checkbox:nth-child(4){
    /* width: 100%; */
    margin-left: 3rem;
}
.checkbox h4{
    text-transform: uppercase;
    margin-left: 4rem;
    margin-top: 1rem;
    font-size: 14px;
}
.checkbox label{
    font-size: 12px;
    
    /* width: 60%; */
}
.checkbox input{
    margin-left: 0;
}
small{
    display: none;
    margin-left: 4rem;
    text-transform: capitalize;
    color: #e70707ef;
}
form .error input{
    border: 1px solid #e70707ef;
}
form .success input{
    border: 1px solid #2ab90a97;
}

button {
    margin: 2rem 50px 2rem 3rem;
    padding: 10px 95px;
    border-radius: 10px;
        border: none;
        outline: none;
        background-color: royalblue;
        text-transform: uppercase;
        color: #fff;
        font-size: 16px;
        transform: .3s ease;
        text-transform: uppercase;
        cursor: pointer;
    }
    button:hover {
        background-color: rgb(56, 90, 194);
      }
